pip install pydantic
pip install fastapi uvicorn sqlalchemy

sudo apt-get install npm -y
node -v
npm -v
nvm -v

source ~/.bashrc

nvm install 22
nvm use 22
node -v

npm create vite@latest frontend
npm install react-router-dom


